/* General webpage body css styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #f4f4f4;
  }
  
  /* Video background css styles */
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Sign up container */
  .form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 1;
    margin: 0 auto;
  }
  
  /* Container elements css styles */
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #e0ac1c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Navigation bar css styles */
  .navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #dfded2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .content {
    margin-top: 60px;
  }
  